<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!-- Configuración para servir recursos estáticos -->
    <servlet>
        <servlet-name>proximos-partidos-servlet</servlet-name>
        <servlet-class>com.mycompany.platazoPlato.controlador.ProximosPartidosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>liga-servlet</servlet-name>
        <servlet-class>com.mycompany.platazoPlato.controlador.LigaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usuarios-liga-servlet</servlet-name>
        <servlet-class>com.mycompany.platazoPlato.controlador.UsuariosLigaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/assets/*</url-pattern>
    </servlet-mapping>
    <!-- Configuración del IndexServlet -->
    <servlet>
        <servlet-name>index-servlet</servlet-name>
        <servlet-class>com.mycompany.platazoPlato.controlador.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index-servlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <!-- Configuración de la página de bienvenida -->
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>proximos-partidos-servlet</servlet-name>
        <url-pattern>/prox</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>liga-servlet</servlet-name>
        <url-pattern>/liga</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usuarios-liga-servlet</servlet-name>
        <url-pattern>/usuarios</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
